extends generalPageLayout

block aboutme
  section
    //- img.banner-parallax(src="/images/bannerbg2.jpg")
    div.banner-parallax
    div.banner
      div.namecareer
        div.namecareertextbox
          h1.name= title
          h2.career= "Computer Science / Software Developer"
    div.links
      span
        div.middle.experienceButton
          | EXPERIENCE
      span
        div.middle.projectsButton
          | PROJECTS
    div.aboutme
      img.profilepicture(src="/images/profilepicture.jpg")
      div.aboutmetext
        h1.greeting="Hello,"
        p.greeting
          | As a software developer, I enjoy the long walks through bugs and code reviews.
          | In all seriousness, my passion in software engineering stems from my enjoyment for problem solving.
          | This profession constantly challenges me and understand and adapt to new situation.
          br
          br
          | When I am not sitting in front of my computer, you can find me outside year round.
          | Some hobbies that I enjoy are riding my motorcycle, hiking, and snowboarding.
          | I'm currently on a quest to find the best budget friendly ramen shop around my area,
          | so stay tuned to see that project.

block experience
    section.experienceSection
        div.title
            span
                strong Experience
        div.timeline
            ul.responsiblity
                li.intel
                    h3.right Intel
                    p(class="timelineright" data-aos="fade-up") Utilize Caffe deep learning framework to classify static images
                    div(style="height:70px")
                    p(class="timelineright" data-aos="fade-up") Build upon image classification to develop video classification
                    div(style="height:70px")
                    p(class="timelineright" data-aos="fade-up") Improve Machine Learning accuracy through data aggregation, differing algorithms, and feature selection
                    div.time
                        h4 April 2017
        div.intelImage.caffe

        div(class="intelproject tiger" data-aos="fade-left" data-aos-duration="3000")
        div(class="intelproject tigerDeconstructed" data-aos="fade-left" data-aos-duration="3000")
        div(class="intelproject tigerClassified" data-aos="fade-left" data-aos-duration="3000")

    section
        div.timeline
            ul.responsiblity
                li.tektronix
                    h3.left Tektronix
                    p(class="timelineleft" data-aos="fade-up") Deploy and develop PRISM UI through EmberJS framework
                    div(style="height:100px")
                    p(class="timelineleft" data-aos="fade-up") Develop regression test system taking advantage of Jenkins, Docker, and Pytest
                    div(style="height:100px")
                    p(class="timelineleft" data-aos="fade-up") Work with customers and marketing to develop new features for existing products
                    div.time.right
                        h4 June 2018
        div.rightSide
            div(class="project-img prism" data-aos="fade-right" data-aos-duration="3000")
            div(class="project-img technologies jenkins")
            div(class="project-img technologies docker")

        
    section
        div.timeline
            ul.responsiblity
                li.telestream
                    h3.right Telestream
                    p(class="timelineright" data-aos="fade-up") Work with FPGA team to add software support for new features
                    div(style="height:75px")
                    p(class="timelineright" data-aos="fade-up") Research and develop ways to implement PTP into new product
                    div(style="height:75px")
                    p(class="timelineright" data-aos="fade-up") Develop new front end UI utilizing ReactJS, Redux, and Websockets
                    div(style="height:75px")
                    p(class="timelineright" data-aos="fade-up") Implement SCRUM practices as SCRUM master of devleopment team
                    div.time
                        h4 July 2019
        div(class="project-img generator" data-aos="fade-right" data-aos-duration="3000")
        
block projects
    section.projectSection
        div.title
            span
                strong Projects
        div.firePredictions
            h3.project Fire Predictor Application
            div.carousel
                div.slideshow-container
                    div.mySlides.fade
                        div.numbertext 1 / 4
                        img.slideShowImg(src="/images/firePredictionProject/clustering.png")
                        div.captionText Results from K-means clustering colors represents areas found to be most similar
                    div.mySlides.fade
                        div.numbertext 2 / 4
                        img.slideShowImg(src="/images/firePredictionProject/callsFromCensus.png")
                        div.captionText 911 Calls (dependent variable) bounded by K-means clustering
                    div.mySlides.fade
                        div.numbertext 3 / 4
                        img.slideShowImg(src="/images/firePredictionProject/flowChart.png")
                        div.captionText Flow chart illustrating method descibed
                    div.mySlides.fade
                        div.numbertext 4 / 4
                        img.slideShowImg(src="/images/firePredictionProject/graph.png")
                    a.prev(onClick="plusSlides(-1)") &#10094;
                    a.next(onClick="plusSlides(1)") &#10095;
                div(style="text-align:center")
                    span.dot(onclick="currentSlide(1)")
                    span.dot(onclick="currentSlide(2)")
                    span.dot(onclick="currentSlide(3)")
                    span.dot(onclick="currentSlide(4)")
            div.divider
            div.projectInfo
                h1 Goal: 
                p.projectText Use a stochastic search algorithm to predict where future fires are likely to occur, drawing from U.S. Census and local county data.
                h1 Method:
                p.projectText 
                    ul
                        li.project Extract attributes (independent variables) from U.S. Census and local county data
                        li.project Quantize aggregated data through use of K-means clustering
                        li.project Run clusters through Geographically Weighted Regression (GWR) algorithm
                        li.project Take GWR output and run through Genetric Algorithm (GA), selecting different independent variables against dependent variables (# of 911 calls)
                        li.project Test GA results with unused data and compare results
