extends generalPageLayout

block aboutme
  section
    //- img.banner-parallax(src="/images/bannerbg2.jpg")
    div.banner-parallax
    div.banner
      div.namecareer
        div.namecareertextbox
          h1.name= title
          h2.career= "Computer Science / Software Developer"
    div.links
      span
        div.middle.experienceButton
          | EXPERIENCE
      span
        div.middle.projectsButton
          | PROJECTS
    div.aboutme
      img.profilepicture(src="/images/profilepicture.jpg")
      div.aboutmetext
        h1.greeting="Hello,"
        p.greeting
          | As a software developer, I enjoy the long walks through bugs and code reviews.
          | In all seriousness, my passion in software engineering stems from my enjoyment for problem solving.
          | This profession constantly challenges me and understand and adapt to new situation.
          br
          br
          | When I am not sitting in front of my computer, you can find me outside year round.
          | Some hobbies that I enjoy are riding my motorcycle, hiking, and snowboarding.
          | I'm currently on a quest to find the best budget friendly ramen shop around my area,
          | so stay tuned to see that project.

block experience
    section.experienceSection
        div.title
            span
                strong Experience
        div.timeline
            ul.responsiblity
                li.intel
                    h3.right Intel
                    p(class="timelineright" data-aos="fade-up") Utilize Caffe deep learning framework to classify static images
                    div(style="height:70px")
                    p(class="timelineright" data-aos="fade-up") Build upon image classification to develop video classification
                    div(style="height:70px")
                    p(class="timelineright" data-aos="fade-up") Improve Machine Learning accuracy through data aggregation, differing algorithms, and feature selection
                    div.time
                        h4 April 2017
        div.intelImage.caffe

        div(class="intelproject tiger" data-aos="fade-left" data-aos-duration="3000")
        div(class="intelproject tigerDeconstructed" data-aos="fade-left" data-aos-duration="3000")
        div(class="intelproject tigerClassified" data-aos="fade-left" data-aos-duration="3000")

    section
        div.timeline
            ul.responsiblity
                li.tektronix
                    h3.left Tektronix
                    p(class="timelineleft" data-aos="fade-up") Deploy and develop PRISM UI through EmberJS framework
                    div(style="height:100px")
                    p(class="timelineleft" data-aos="fade-up") Develop regression test system taking advantage of Jenkins, Docker, and Pytest
                    div(style="height:100px")
                    p(class="timelineleft" data-aos="fade-up") Work with customers and marketing to develop new features for existing products
                    div.time.right
                        h4 June 2018

        div(class="project-img prism" data-aos="fade-right" data-aos-duration="3000")
        div(class="project-img technologies jenkins")
        div(class="project-img technologies docker")

        
    section
        div.timeline
            ul.responsiblity
                li.telestream
                    h3.right Telestream
                    p(class="timelineright" data-aos="fade-up") Work with FPGA team to add software support for new features
                    div(style="height:75px")
                    p(class="timelineright" data-aos="fade-up") Research and develop ways to implement PTP into new product
                    div(style="height:75px")
                    p(class="timelineright" data-aos="fade-up") Develop new front end UI utilizing ReactJS, Redux, and Websockets
                    div(style="height:75px")
                    p(class="timelineright" data-aos="fade-up") Implement SCRUM practices as SCRUM master of devleopment team
                    div.time
                        h4 July 2019
        div(class="project-img generator" data-aos="fade-right" data-aos-duration="3000")
        
block projects
    section.projectSection
        div.title
            span
                strong Projects
