:root {
  --left-indent: 100px;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#e1e1e1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #000000;
}

h1.name {
  font-size: 64px;
  margin-bottom: 4px;
  color: #095169;
}
h2.career {
  color: #059B9A;
}
div.namecareer {
  border-top-style: solid;
  border-top-width: 10px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  background-color: white;
  padding-left: var(--left-indent);
  margin-top: 100px;
  height: 150px;
}
div.namecareertextbox{
  position: relative;
  top: -30px;
}
div.banner-parallax{
  background-image: url("/images/bannerbg.jpg");
  height: 300px;
  /* position: absolute; */
  width: 100%;
  z-index: -1;
  top: 0;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

div.links{
  padding: 10px 0;
  text-align: right;
  padding-right: 100px;
}
a.middle
{
    position: relative;
    text-decoration:none;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

span + span {
  margin-left: 100px;
}

footer.contactinfobox{
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background: #9fd86b;
  color: black;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;            /* Footer height */
}

img.profilepicture{
  border-radius: 50%;
  max-width: 250px;
  position: relative;
  margin-left: 30px;
}
h1.greeting{
  margin-bottom: 0px;
}

p.greeting{
  margin-top: 5px;
}

div.aboutmetext{
  display: inline-block;
  font-size: 20px;
  margin-left: 30px;
  width: 60%;
}

div.logo{
  height: 50px;
  width: 33%;
  display: inline-block;
  text-align: center;
}

img.logo{
  width: 50px;
  margin-left: auto;
  margin-right: auto
}
div.socialmediatext{
  position: relative;
  /* display: inline-block; */
  font-size: 20px;
  font-weight: 800;
  color: #059B9A;
  overflow: hidden;
  background: linear-gradient(to right, #0C0636, #0C0636 50%, #059B9A 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
div.socialmediatext:hover {
  background-position: 0 100%;
}
