:root {
  --left-indent: 100px;
}

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#e1e1e1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #000000;
}

h1.name {
  font-size: 64px;
  margin-bottom: 4px;
  color: #095169;
}
h2.career {
  color: #059B9A;
}
div.namecareer {
  border-top-style: solid;
  border-top-width: 10px;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  background-color: white;
  padding-left: var(--left-indent);
  margin-top: 100px;
  height: 150px;
}
div.namecareertextbox{
  position: relative;
  top: -30px;
}
div.banner-parallax{
  background-image: url("/images/bannerbg.jpg");
  height: 300px;
  /* position: absolute; */
  width: 100%;
  z-index: -1;
  top: 0;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

footer.contactinfobox{
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background: #9fd86b;
  color: black;
  font-size: 20px;
}

img.profilepicture{
  border-radius: 50%;
  max-width: 250px;
  position: relative;
  margin-left: 30px;
}

div.aboutmetext{
  display: inline-block;
  font-size: 20px;
  margin-left: 30px;
  width: 60%;
}

div.logo{
  height: 50px;
  width: 33%;
  display: inline-block;
  text-align: center;
}

img.logo{
  width: 50px;
  margin-left: auto;
  margin-right: auto
}